/*Style sheet file of the project*/

.tilemy
{
color:red;
}
.left{
text-align:left;
}
.mainBG{
background-color:rgb(89,84,78);
border-color:red;


}
.lstphone{
background-color:white;
border-color:red;
}
.lstsite{
color:black;
font-size:14px;
}
.titlebarStyle{
border-top:2,
border-color:red;
border-style: solid;

}
.topicheader{
color:white;
font-size:16px;
font-weight:bold;
text-align:center;
padding-bottom:5px;
}
.hboxcls{
margin-top:2%
margin-bottom:10%;
margin-left:2%;
}
.detailheader{
color:white;
font-size:14px;
font-weight:bold;
padding-left:5px;
padding-top:10px;
padding-right:5px;

}
.textheader{
color:black;
margin-left:15px;
font-size:14px;
}
.textheadersub{
color:black;
margin-left:30px;
font-size:14px;
}
.dateheader{
color:white;
padding-top:15px;
padding-right:5px;
font-size:12px;
}
.btnsubmit{
color:black;
margin-top:10px;
margin-right:5px;
background:white;
border:0px;
text-align:center;
font-size:14px;
}
.titlebarcls{
background-color:white;
}
.btncontianer{
margin-top:5px;
margin-bottom:5px;
height:50px
}
.btnpart{
background:white;
border:1px;
text-align:center;
color:black;


}
.pressedcls{
background:blue;

}