<div id="single-protocol" class="single-protocol pageWrap">
    <div class="row filteredResults" >
        <div class="">
            <div class="alert alert-info">
                <div class="popover-title">
                    {{protocol}}
                    <a href="http://utm-ext01a.mdacc.tmc.edu/Dept/PROT/clinicaltrialswp.nsf/0d6be1254b4d542d86256be600563c90/c6e26b7c4a341263862571620066ff4f?OpenDocument"><span>{{protocol}}</span></a>
                    <button type="button" class="close fui-cross" data-dismiss="alert"></button>
                    &nbsp;
                    <button type="button" class="close " ng-class="result.selected===true?'fa fa-check-circle':'fa fa-circle-o'" ng-click="result.selected=!result.selected;watchSelected()"></button>
                                <span stye="display:none">{{protocol}}<span></span>
                            &nbsp;
                            <br>
                            <a href="http://ut3d4cat3S
                            m-ext01a.mdacc.tmc.edu/Dept/PROT/clinicaltrialswp.nsf/0d6be1254b4d542d86256be600563c90/c6e26b7c4a341263862571620066ff4f?OpenDocument"><span>Protocol#&nbsp;{{protocol}}</span></a>
                </div>
                <div class="inside">
                    <p>
                        <a href="http://utm-ext01a.mdacc.tmc.edu/Dept/PROT/clinicaltrialswp.nsf/0d6be1254b4d542d86256be600563c90/c6e26b7c4a341263862571620066ff4f?OpenDocument"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

