<div id="rapidReferralForm" class="pageWrap">
<h4>Rapid Referral Form</h4>

<div>
<form name="rapidReferralForm"  ng-submit="submitForm()">

<div class="row" ng-show="showProviderSelect">
    <div class="col-md-12">
        <div class="form-group">


            <label class="fa fa fa-medkit required" for="providers">Select Your Provider</label>
            <select tabindex="100"
                    id="providers"
                    class="form-control input-hg"
                    name="provider"
                    ng-model="formData.provider"
                    ng-options="providerOption.physicianName for providerOption in providersList"
                    aria-labelledby="providers"
                    aria-required="false"
                    autofocus
                    >
                <option value="" default disabled selected>Select your Provider</option>
            </select>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">


            <label class="fa fa fa-stethoscope required" for="diagnosis">Suspected Diagnosis</label>
            <select tabindex="101"
                    id="diagnosis"
                    name="diagnosis"
                    class="form-control input-hg"
                    ng-model="formData.Diagnosis"
                    ng-options="diagnosisOption for diagnosisOption in diagnosesList"
                    aria-labelledby="diagnosis"
                    aria-required="true"


                    autofocus
                    >
                <option value="" default disabled selected>{{initDiagnosis}}</option>
            </select>

        </div>
    </div>
</div>

<div class="row" ng-class="locationRowClass">
    <div class="col-md-12">
        <div class="form-group">

            <label class="fa fa-hospital-o required" for="location">Location</label>
            <select tabindex="102"
                    id="location"
                    name="location"
                    class="form-control input-hg"
                    ng-model="formData.Location"
                    ng-options="locationOption.clinicName for locationOption in locationList | orderBy:'locationPredicate'"
                    aria-labelledby="location"
                    aria-required="true"

                    >
                <option value="" default disabled selected>{{initGPS}}</option>
            </select>
            </span>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">

            <label class="fa fa-user-md required" for="physician">Select a Physician</label>
            <select tabindex="103"
                    id="physician"
                    name="physician"
                    class="form-control input-hg"
                    ng-model="formData.Physician"
                    ng-options="physicianOption.label group by physicianOption.locationName for physicianOption in physicianList | filter :{location:physicianFilter}"
                    aria-labelledby="physician"
                    aria-required="true"

                    >
                <option value="" disabled="{{disablePhysicianOption}}" selected>{{initPhysician}}</option>

            </select>

        </div>
    </div>
</div>


<div class="row dark top">
    <div class="col-md-12">
        <div class="form-group">

            <label class="fa fa-user required" for="firstname">First Name</label>
            <input tabindex="104"
                   ng-model="formData.FirstName"
                   id="firstname"
                   name="firstname"
                   type="text"
                   placeholder="Select to enter first name"
                   class="form-control input-hg"
                   maxlength="29"
                   aria-labelledby="firstname"
                   aria-required="true"
                   required>

        </div>
    </div>
</div>

<div class="row dark">
    <div class="col-md-12">
        <div class="form-group">

            <label class="fa fa-user required" for="lastname">Last Name</label>
            <input tabindex="105"
                   ng-model="formData.LastName"
                   id="lastname"
                   name="lastname"
                   type="text"
                   placeholder="Select to enter last name"
                   class="form-control input-hg"
                   maxlength="29"
                   aria-labelledby="lastname"
                   aria-required="true"
                   required>

        </div>
    </div>
</div>
<div class="row dark">
    <div class="col-md-12">
        <div ng-controller="DatepickerDemoCtrl">
            <div class="form-group datePicker">

                <label for="birthdate" class="required">Date of Birth{{mobile}}</Label>

                <div class="input-group input-group-hg" ng-hide="mobile">
                    <input tabindex="106"
                           id="birthdate"
                           name="birthdate"
                           ng-model="formData.Date"
                           class="form-control"
                           aria-labelledby="birthdate"
                           aria-required="true"
                           min="" max="now"
                           placeholder="Select to Enter Birth Date"
                           ng-required="!mobile"

                           type="text"
                           datepicker-popup="{{format}}"
                           is-open="opened"
                           datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)"
                           show-weeks="false"
                           close-text="Close"
                            />
                          <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i>
                            </button>
                          </span>

                </div>
                <input tabindex="106"
                       id="birthdate"
                       name="birthdate"
                       ng-model="formData.Date"
                       class="form-control input-hg"
                       min="" max="now"
                       placeholder="Select to Enter Birth Date"
                       aria-labelledby="birthday"
                       ng-hide="!mobile"
                       aria-required="true"
                       ng-required="mobile"

                       type="date"

                       
                        >

            </div>
        </div>



    </div>
</div>

<div class="row dark">
    <div class="col-md-12">
        <div class="form-group">
            <label class="fa fa-phone required" for="phone">Phone Number</label>

            <input tabindex="107"
                   type="tel"
                   name="telephone"
                   ng-model="formData.PhoneNumber"
                   ng-keydown="phoneKey($event)"
                   id="phone"
                   type="text"
                   ui-mask="{{phoneFormats}}"
                   placeholder="(XXX)-XXX-XXXX"
                   class="form-control input-hg"
                   aria-labelledby="phone"
                   aria-required="true"
                   required>
        </div>
    </div>
</div>


<div class="row dark">
    <div class="col-md-12">
        <div class="form-group">
            <p id="gender" class="gender required">Gender</p>

            <div class="btn-group">
                <label for="male-gender" class="gender male" ng-class="{'checked' : (formData.gender=='Male')}">
                    <input aria-labelledby="male-gender"
                           id="male-gender"
                           value="male"
                           name="gender"
                           group="gender"
                           type="radio"

                           ng-model="formData.gender"
                           tabindex="108"
                           btn-radio="'Male'"
                           aria-required="true"
                           required>

                    </input><span class="fa fa-male" ng-class="{'checked' : (formData.gender=='Male')}">&nbsp;Male</span>
                </label>

                <label for="female-gender" class="gender female" ng-class="{'checked' : (formData.gender=='Female')}">
                    <input aria-labelledby="female-gender"
                           id="female-gender"
                           value="female"
                           name="gender"
                           group="gender"
                           type="radio"

                           ng-model="formData.gender"
                           tabindex="109"
                           btn-radio="'Female'">
                    </input><span class="fa fa-female" ng-class="{'checked ' : (formData.gender=='Female')}">&nbsp;Female</span>
                </label>


            </div>
        </div>
    </div>
</div>
<div class="row dark bottom">
    <div class="col-md-12">
        <div class="form-group">

            <label id="additional" class="fa fa-user" for="moreInfo">Additional Information (Optional)</label>
            <textarea tabindex="110"
                      ng-model="formData.moreInfo"
                      id="moreInfo"
                      name="additional"
                      placeholder="Enter any additional information"
                      class="form-control input-hg"
                      maxlength="300"
                      rows="4"
                      cols="50"
                      aria-labelledby="additional"
                    >
            </textarea>
        </div>
    </div>
</div>
<div class="row submit">
    <div class="col-md-2">
        <div ng-repeat="item in errorList"><span>{{item.name}}</span><span>{{item.type}}</span></div>
<a ng-click="checkValid()">
        <button tabindex="111"
                class="btn btn-lg btn-block btn-primary"
                type="submit"
                id="submit"
                value="Submit"
                role="button"
                ng-disabled="!rapidReferralForm.$valid"
                />Submit
        </button></a>

    </div>
    <div class="col-md-2">
        <a tabindex="112"
           class="btn btn-lg btn-block btn-default"
           id="cancel"
           href="/physicians/"
                >Cancel</a>
    </div>
</div>

</form>

</div>
<br>

<div class="alert-row" ng-class="locationRowClass" ng-hide="true">
    <p>{{topAlert}}</p>
</div>
</div>