<div id="referral-thankyou" class="referral-thankyou pageWrap">
    <div class="row"><br></div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h3 id="referral-thankyou-head">
                    Thank you
                </h3>
            <p>Your referral has been submitted. What would you like to do next?</p>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="#/rapid-referral-form" class="btn btn-hg btn-block btn-primary">Submit another referral</a>
        </div>
        <div class="col-md-6">
            <a href="/physicians/" class="btn btn-hg btn-block btn-info">Go to the home page</a>
        </div>
    </div>
    <br>
</div>

