<div class="referral-thankyou pageWrap">
    <div class="row"><br></div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            We're really sorry
                        </h3>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-8">
                        <h4>This session has timed out.</h4>
                    </div>
                    <div class="col-md-4">

                        <i class="fa fa-ambulance fa-flipped-horizontal fa-4x"></i>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <p>To ensure patient data is secure, we need to send you back to the login screen.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
</div>

